@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body{
    font-family: 'Raleway';
    background-color: #4466E7;
    color: white;
}

#main{
    font-size: 42px;
    margin-bottom: 0%;
}

#little{
    font-size: 25px;
}

#start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figcaption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;  
}

img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#texto{
    text-align: justify
}

#referencias{
    text-align: center
}

#logo{
    width: 220px;
    height: 220px;
}

#web{
    width: 400px;
    height: 200px;
}

#emoji{
    width: 300px;
}

#oreilly{
    width: 400px;
    height: 300px;
}

#enlaces, a{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}